
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #fff;
	background-color: #001821;
}

.wrapper {
	max-width: 1141px;
	margin: 0 auto;
	background-color: #001821;
}


/******************** ОБЩИЕ СТИЛИ *******************/
.button {
	display: inline-block;
	font-weight: 700;
	line-height: 19px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 18px 40px;
	/* border: 1px solid blue; */
	background-color: #F5170E;
	border-radius: 35px;
	transition: 0.2s linear;
}

.button:hover {
	background-color: #DA0100;
}

.titels {
	font-size: 36px;
	font-weight: 700;
	line-height: 49px;
	margin-bottom: 51px;
}

/******************** HEADER **********************/

.header {
	/* background-image: url("../images/header_img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh; */
	/* max-width: 1141px;
	margin: 0 auto; */
	display: flex;
	justify-content: space-between;
	margin-bottom: 131px;
}

.logo {
	margin-top: 29px;
	margin-right: 72px;
}

.menu {
	margin-top: 42px;
	margin-right: auto;
}

.menu__list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

.menu__items:not(:last-child) {
	margin-right: 54px;
}

.menu__link {
	line-height: 19px;
	color: #fff;
	text-decoration: none;
	transition: .2s linear;
}

.menu__link:hover {
	color: #DA0100;
}

.contacts {
	display: flex;
	flex-direction: column;
	font-style: normal;
	align-items: flex-end;

	margin-top: 27px;
}

.contacts__phone {
	color: #fff;
	text-decoration: none;
	font-size: 26px;
	line-height: 35px;
}

.contacts__schedule {
	font-size: 13px;
	line-height: 20px;
	text-decoration: underline;
	cursor: pointer;
	position: relative;
}

.hint {
	position: absolute;
	right: 0;
	visibility: hidden;
	opacity: 0;
	margin-top: 10px;
	width: 160px;
	padding: 15px 19px;
	background-color: rgba(205, 209,210, .8);
	border-radius: 9px;
	transition: all .4s linear;
}

.hint__text {
	color: #000;
	font-size: 13px;
	font-weight: 600;
	line-height: 21px;
}

.hint__text:first-child {
	font-weight: 700;
}

.hint:after {
	content: "";
	position: absolute;
	bottom: 72px;
	right: 35px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: rgba(205, 209,210, .8);
}

.contacts__schedule:hover .hint {
	visibility: visible;
	opacity: 1;
}

/******************** PREVIEW **********************/

.preview {
	margin-bottom: 246px;
}

.idea {
	width: 511px;
}

.idea__title {
	font-size: 72px;
	font-weight: 700;
	line-height: 98px;
	margin-bottom: 27px;
}

.idea__text {
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 33px;
}

/******************** TOURS **********************/

.tours {
	margin-bottom: 127px;
}

.tours__title::after {
	content: url(../images/fire.png);
	padding-left: 12px;
}

.tours__list {
	display: flex;
	justify-content: space-between;
}

.tours__image {
	border-radius: 5px 5px 0 0;
}

.tours__img {
	margin-bottom: 33px;
}

.tours__item {
	list-style: none;
	background-color: #fff;
	border-radius: 5px 5px 5px 5px;
	margin-right: 27px;	
}

.tours__item:nth-child(3n){
	margin-right: 0;
}

.tours__info {
	width: 324px;
	padding-left: 5px;
	margin: 0 auto;
}

.tours__name {
	font-size: 24px;
	font-weight: 700;
	line-height: 33px;
	color: #000;
	margin-bottom: 21px;
}

.tours__note {
	margin-bottom: 23px;
}

.tours__notion {
	font-size: 16px;
	line-height: 22px;
	color: #666;
	margin-right: 40px;
	padding-left: 36px;
	position: relative;
}

.tours__text {
	line-height: 21px;
	color: #303030;
	margin-bottom: 24px;
}

.tours__btn {
	padding: 18px 29px 18px 30px;
	margin-bottom: 26px; 
}

.tours__btn_transparent {
	background-color: #fff;
	color: #F5170E;
	border: 1px solid #F5170E;
}

.tours__btn_transparent:hover {
	color: #fff;;
}

.tours__notion:first-child::before {
	content: url(../images/calendar.png);
	position: absolute;
	width: 26px;
	height: 26px;
	padding-right: 10px;
	top: -2px;
	left: 0;
}

.tours__notion:nth-child(2)::before {
	content: url(../images/meal.png);
	position: absolute;
	width: 36px;
	height: 26px;
	padding-right: 10px;
	top: -2px;
	left: -10px;
}