* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
  color: #fff;
  background-color: #001821;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10px;
  background: url(../../images/background/header_img.jpg) top center / 100% no-repeat,
    url(../../images/background/bottom_img.jpg) bottom 18px center / 100% no-repeat;
}

.container {
  max-width: 1141px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.titels {
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  margin-bottom: 51px;
}
