.contacts {
  display: flex;
  flex-direction: column;
  font-style: normal;
  align-items: flex-end;
}

.contacts__phone {
  color: #fff;
  text-decoration: none;
  font-size: 26px;
  line-height: 35px;
  margin-bottom: -8px;
}

.contacts__dropdown-title {
  font-size: 13px;
  line-height: 20px;
  text-decoration: underline;
  cursor: pointer;
  position: relative;
  right: 2px;
  color: #98a4a8;
}

.contacts__dropdown-title:hover {
  color: #fff;
}

.contacts__info {
  font-size: 11px;
  line-height: 20px;
  color: #9a9a9a;
}
