.header-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 121px;
  padding-top: 28px;
  align-items: center;
}

.header-inner__internal {
  margin-bottom: 93px;
}
.header-inner__reviews {
  margin-bottom: 82px;
}

.header-inner__col {
  display: flex;
  align-items: center;
}

.header-internal__title {
  font-size: 72px;
  line-height: 96px;
  margin-bottom: 106px;
}

.header-internal__title--reviews {
  margin-bottom: 118px;
}
