.hint {
  position: absolute;
  right: 0;
  visibility: hidden;
  opacity: 0;
  margin-top: 6px;
  width: 157px;
  padding: 13px 17px;
  background-color: rgba(205, 209, 210, 0.8);
  border-radius: 4px;
  transition: all 0.4s linear;
}

.hint__text {
  color: #000;
  font-size: 13px;
  font-weight: 600;
  line-height: 21px;
}

.hint__text:first-child {
  font-weight: 700;
}

.hint:after {
  content: "";
  position: absolute;
  bottom: 68px;
  right: 42px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: rgba(205, 209, 210, 0.8);
}

.contacts__dropdown-title:hover .hint {
  visibility: visible;
  opacity: 1;
}
