.partners {
  background-color: #f4f5f5;
  padding: 90px 0 80px;
}

.partners__title {
  color: #000;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 57px;
}

.partners__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.partners__item:not(:nth-child(4n)) {
  margin-right: 73px;
}

.partners__img {
  filter: grayscale(100%);
  transition: 0.3s;
}

.partners__img:hover {
  filter: grayscale(0);
}

.partners__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
}
