.partners {
  background-color: #f4f5f5;
  padding-top: 90px;
  padding-bottom: 28px;
}

.partners__title {
  color: #000;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 71px;
}

.partners__logo {
  margin-bottom: 10px;
}

.partners__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 276px;
  align-items: baseline;
}

.partners__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.partners__img {
  filter: grayscale(100%);
  transition: 0.3s;
}

.partners__img:hover {
  filter: none;
}
