.socials__list {
  display: flex;
}

.socials__item {
  list-style: none;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__text {
  display: none;
}

.socials__link {
  position: relative;
  transition: opacity 0.4s linear;
}

.socials__link::after {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
}

.socials__link::before {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  opacity: 0;
}

.socials__link:hover::before {
  opacity: 1;
  transition: opacity 0.4s linear;
}

.socials__link--icon--tl::after {
  background: url(../../images/icons/css_sprites.png) -66px -66px;
}

.socials__link--icon--vk::after {
  background: url(../../images/icons/css_sprites.png) -122px -66px;
}

.socials__link--icon--fb::after {
  background: url(../../images/icons/css_sprites.png) -66px -122px;
}

.socials__link--icon--ins::after {
  background: url(../../images/icons/css_sprites.png) -66px -10px;
}

.socials__item .socials__link--icon--tl:hover::before {
  background: url(../../images/icons/css_sprites.png) -122px -10px;
}

.socials__link--icon--vk:hover::before {
  background: url(../../images/icons/css_sprites.png) -10px -122px;
}

.socials__link--icon--fb:hover::before {
  background: url(../../images/icons/css_sprites.png) -10px -10px;
}

.socials__link--icon--ins:hover::before {
  background: url(../../images/icons/css_sprites.png) -10px -66px;
}
