.tours {
  margin-bottom: 127px;
}

.tours__title {
  position: relative;
}

.tours__title::after {
  content: "";
  background: url(../../images/icons/css_sprites.png) -178px -106px;
  position: absolute;
  width: 21px;
  height: 28px;
  left: 288px;
  top: 13px;
}

.tours__list {
  display: flex;
  justify-content: space-between;
}

.tours__image {
  border-radius: 5px 5px 0 0;
}

.tours__item {
  list-style: none;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 27px;
  display: flex;
  flex-direction: column;
}

.tours__item:nth-child(3n) {
  margin-right: 0;
}

.tours__info {
  max-width: 362px;
  padding: 29px 21px 25px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tours__name {
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  color: #000;
  margin-bottom: 24px;
}

.tours__note {
  margin-bottom: 24px;
}

.tours__notion {
  font-size: 16px;
  line-height: 22px;
  color: #666;
  margin-right: 28px;
  padding-left: 42px;
  position: relative;
}

.tours__text {
  line-height: 21px;
  color: #303030;
  margin-bottom: 24px;
}

.tours__btn {
  padding: 18px 29px 18px 30px;
  margin-top: auto;
  margin-right: auto;
}

.tours__notion:first-child::before {
  content: "";
  display: inline-block;
  background: url(../../images/icons/css_sprites.png) -178px -60px;
  width: 26px;
  height: 26px;
  position: absolute;
  top: -3px;
  left: 6px;
  padding-right: 10px;
}

.tours__notion:nth-child(2)::before {
  content: "";
  background: url(../../images/icons/css_sprites.png) -122px -122px;
  position: absolute;
  width: 36px;
  height: 26px;
  padding-right: 10px;
  top: -3px;
  left: -3px;
}
