.welcome-wrapper {
  background: url(../../images/decor/shades.png) center center / 591px 248px no-repeat,
    url(../../images/background/welcome_bg.jpg) center center / cover no-repeat;
  min-height: 100vh;
  vertical-align: middle;
}

.welcome__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.welcome__preview {
  height: 123px;
}

.welcome__desc {
  text-align: center;
  margin-bottom: 50px;
}

.welcome__logo {
  margin-bottom: -5px;
}

.welcome__text {
  font-size: 18px;
  line-height: 25px;
}

.welcome__button {
  text-align: center;
}

.welcome_btn {
  font-size: 14px;
  padding: 18px 58px;
}

.welcome_btn:hover {
  background-color: #da0100;
}

.welcome__preview {
  animation: bounceIn 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes bounceIn {
  0% {
    transform: scale(0);
  }

  20% {
    transform: scale(1.2);
  }

  40% {
    transform: scale(0.8);
  }

  60% {
    opacity: 1;
    transform: scale(1.1);
  }

  80% {
    transform: scale(0.97);
  }

  100% {
    transform: scale(1);
  }
}
